rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /trailers/{movieId}/{fileName} {
      allow read: if true;
      allow write: if false;
    }
  }
}
